body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: Arial, sans-serif;
}

h1{
  color: #66BFBF;
  margin-top: 50px;
  font-size: 500%;
  line-height: 2;
}

h2
{
  color: #66BFBF;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3
{
  color: #11999E;
}



.skill-row
{
  text-align:left;
  width: 90%;
  margin: 100px auto 100px auto;
  line-height: 2;
}


.code-img
{
  width: 15%;
  float: left;
  margin: 30px;
}
.code-img2
{
  width: 15%;
  float: right;
  margin: 30px;
}

.final{
    text-align: right;
    padding: 30px;
}

.bottom-container
{
  background: #EAF6F6;
}

.footer-link
{
    padding:20px;
    color: #0000FF  ;
}